*{
    margin:0;
    padding:0;
    color:#ED6A5A;
    text-shadow:1px 1px #E6EBE0;
    font-weight:bolder;
}

body{

    margin-left:auto;
    margin-right:auto;
    background:#E6EBE0;
  
}
.container{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    font-family:garamond;
    overflow:hidden;
}
.hero img{
    width:100%;
    height:875px;
}
.nav{
    height:100px;
    width:100%;
    background:#9BC1BC;
    margin:0;
    box-shadow: 3px 3px #E6EBE0;

}
ul{
    text-decoration: none;
    list-style: none;
}
.nav ul li{
    display:inline;
    float:left;
    width:20%;
    height:100px;
    line-height: 100px;
    text-align: center;
    color:#ED6A5A;
    font-weight: bold;
    font-size:20px;

    text-decoration: none;
}

ul li a{
    float:left;
    width:100%;
    height:100px;
    text-decoration: none;
}
.nav ul li a:hover, .nav ul li a:active{
    background:#5CA4A9;
}
ul li img{
    height:100px;
    
}
.allanimal{
    margin-top:50px;
    width:100%;
    height:300px;
    background:white;
    display:inline-block;
    white-space: nowrap;
}
.animal{
    display:inline-block;
    text-align: center;
    width:17%;
    height:100%;
}
.animal h2{
    color:#ED6A5A;
    font-size:2em;
    text-shadow:1px 1px #E6EBE0;
}
.contact{
    margin-left:18%;
    width:20%;
    height:100%;
    background:#9BC1BC;
    float:left;
    box-shadow: 3px 3px #E6EBE0;
    text-align: center;
    line-height: 3.1em;
}
.maps{
    margin-right:20.5%;
    height:200px;
    float:right;
}
.footer{
    background:#9BC1BC;
    height:200px;
    width:100%;
}
.info{
    height:180px;
    width:17%;
    display:inline-block;

}
#support{
    margin-left:18%;
}
#contact{
    margin-right:18%;
}
#donate{
    margin-left:5%;
    margin-right:5%;
}
.mapsinfo{
    margin-top:1%;
    margin-bottom:50px;
    width:100%;
    height:300px;
    display:inline-block;
    white-space: nowrap;
}
h1 a{
    width:100%;
    text-align: center;
    font-size:100px;
    font-weight:bold;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    line-height:875px;
    text-shadow:2px 2px #E6EBE0;
}
#dog {
    margin-left:18%;
    background-image:url(img/koerad.jpg);
    background-size:100%;
    background-repeat: no-repeat;
}
#cat {
    background-image:url(img/kass1.jpg);
    background-size:100%;
    margin-left:5%;
    margin-right:5%;
    background-repeat: no-repeat;
}
#others {
    margin-right:18%;
    background-image:url(img/muud.jpg);
    background-size:100%;
    background-repeat: no-repeat;
}
i{
    margin-left:15px;
}
.content{
    background:white;
    overflow:hidden;
    height:700px;
}
.info-content{
    padding:20px;
    height:75%;
}